<div class="bxpop">
    <label for="inputSearchList">
        <input type="text" id="inputSearchList" autocomplete="off">
        <i class="fa-solid fa-magnifying-glass"></i>
    </label>
    <a href="#/checklist_a" class="pop-btns-link">Check List Prueba 1</a>
    <a href="#/checklist_b" class="pop-btns-link">Check List Prueba 2</a>
    <a href="#/checklist_c" class="pop-btns-link">Check List Prueba 3</a>
    <a href="#/ch" class="pop-btns-link">Check List Prueba 4</a>
    <a href="#/ch" class="pop-btns-link">Check List Prueba 5</a>
</div>