<section class="containerCod animate__animated animate__fadeInUp" id="cardsContainer">
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Código
                    </div>
                    <div class="codi center">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="level center">
                        Viaticos
                    </div>
                </div>
                <div class="more-info">
                    <h1>VIALC1</h1>
                    <div class="coords">
                        <span>Observación</span>
                        <p>Se liquida 1 cena+1almuerzo + taxis tarifas aeropuerto +1 taxi adicional. Asistencia a cita de calificación en junta nacional el dia 13 de enero de 2023 a las 8:30 amUsuario: Jhoan Sebastian Gomez, Fecha: 20/12/2022 5:13:18 p. m. se envia senda adm 590250 Coordinación de tiquetes + hospedaje habitación sencilla ingresando el 12/01/2023 y saliendo el 13/12/2022. Se liquida 1 cena + 1 almuerzo + taxis tarifas aeropuerto +1 taxi adicional. Asistencia a cita de calificación en junta nacional el dia 13 de enero de 2023 a las 8:30 am ... jhoan gomez</p>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>VIALC1</h1>
                <div class="conti">
                    <div class="servicios">
                        <p><strong>Servicio</strong></p>
                        <p>Viaticos de alimentación ceINTERNACION EN SERVICIO DE COMPLEJIDAD ALTA HABITACION BIPERSONALna</p>
                    </div>
                    <div class="prestador">
                        <p><strong>Prestador</strong></p>
                        <p>7762-colmena seguros riesgos laborales</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Código
                    </div>
                    <div class="codi center">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="level center">
                        Viaticos
                    </div>
                </div>
                <div class="more-info">
                    <h1>VIAH02</h1>
                    <div class="coords">
                        <span>Observación</span>
                        <p>se autoriza prorroga de hospedaje en habitación doble sin alimentación ingresando el dia 30/11/2023 y salida el dia 01/12/2023 en la ciudad de bogota , trabajadora se encuentra hospedada en el hotel macao desde el dia 26/11/2023 al 30/11/2023 solicitado en el senda anterior con el numero 638640. , se envia con fechas diferentes por traslapo en el senda no. 641390 .... jefferson vanegas</p>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>VIAH02</h1>
                <div class="conti">
                    <div class="servicios">
                        <p><strong>Servicio</strong></p>
                        <p>HOSPEDAJE HABITACION DOBLE</p>
                    </div>
                    <div class="prestador">
                        <p><strong>Prestador</strong></p>
                        <p>5007-agencia de viajes y turismo aviatur</p>
                    </div>
                </div>
            </div>
        </div>
</section>