<section class="contaTipi containerCod">
    <section class="correctorbx">
        <div id="editor" class="quill-editor"></div>
        <div class="box">
            <button id="stops"><i class="fa-solid fa-microphone"></i> --- Activar Reconocimiento de Voz --- <i
                    class="fa-solid fa-microphone"></i></button>
            <button id="copiar"><i class="fa-solid fa-copy"></i> --- Copiar --- <i
                    class="fa-solid fa-copy"></i></button>
        </div>
    </section>
</section>