<form class="formNotas" id="formNotas">
    <input type="text">
    <select name="" id="">
        <option value="">seleccionar</option>
    </select>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
    <button type="button" class="button">Crear Nota</button>
</form>