@use 'variables' as *;
@use 'reset';
@use 'navbar';
@use './view_home.scss';
@use './wn_hook.scss';
@use './view_aplicativosWeb.scss';

.root {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 84px); // (100% - ALTO DEL NAVBAR)
    text-align: center;
    &__title {
        width: 50%;
        font-size: 9rem;
        margin: auto;
    }
    &:nth-child(1) {
        width: 100%;
    }
}
.title-copy {
    font-size: 2rem;
    font-weight: 300;
}



.input-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 10px;
    & .input {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 18px 16px;
        background-color: transparent;
        cursor: pointer;
        transition: all .5s ease-in-out;
        &::placeholder {
            color: transparent;
          }
        &:focus::placeholder {
            color: rgb(131, 128, 128);
          }
        &:focus,.input:not(:placeholder-shown) {
            background-color: #fff;
            border: 1px solid rgb(98, 0, 255);
            width: 290px;
            cursor: none;
            padding: 18px 16px 18px 40px;
          }
        &:hover + .icon {
            transform: rotate(360deg);
            transition: .2s ease-in-out;
          }
        &:focus + .icon,.input:not(:placeholder-shown) + .icon {
            z-index: 0;
            background-color: transparent;
            border: none;
          }
          
      }
    & .icon {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        background-color: #fff;
        border-radius: 10px;
        z-index: -1;
        fill: rgb(98, 0, 255);
        border: 1px solid rgb(98, 0, 255);
      }
  }
  
// Estilos de Mis Notas
.button-notebox {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  margin: 12px;

  .quill-editor {
    min-height: 300px;
  }

  .copiar {
    width: 100%;
    font-size: 2rem;
    padding: 8px;
    border: 1px solid #c9c9c9;
    background-color: $p3-color;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      background: $p2-color;
      cursor: pointer;
    }
  }

  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    left: 100%;
    transform: translateX(-100%);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }

  .svgIcon {
    width: 12px;
    transition-duration: .3s;
  }

  .svgIcon path {
    fill: white;
  }

  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: $s-color;
    align-items: center;
  }

  .button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
  }

  .button::before {
    position: absolute;
    top: -20px;
    content: "Mis Notas";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
  }

  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
  }

  .button:checked {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
}

.quill-editor {
  background: #fff;
}

.ql-toolbar {
  background: white;
}
.sessionRec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #c0c0c0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    &.hide {
        display: none;
    }
    & .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        background-color: #1a1a1a;
        color: #fff;
        border: 1px solid #333;
    
        &  .title {
            font-size: 28px;
            font-weight: 600;
            letter-spacing: -1px;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 30px;
            color: #00bfff;
            &::before {
                width: 18px;
                height: 18px;
              }
            &::after {
                width: 18px;
                height: 18px;
                animation: pulse 1s linear infinite;
              }
          }
        &   .title::before,
        .title::after {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          border-radius: 50%;
          left: 0px;
          background-color: #00bfff;
        }
        
        & .message, 
        .signin {
          font-size: 14.5px;
          color: rgba(255, 255, 255, 0.7);
        }
        
        &.signin {
          text-align: center;
        }
        
        & .signin a:hover {
          text-decoration: underline royalblue;
        }
        
        & .signin a {
          color: #00bfff;
        }
        
        & .flex {
          display: flex;
          width: 100%;
          gap: 6px;
        }
        &   .input {
            font-size: medium;
          }
          
        &  .submit {
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            transform: .3s ease;
            background-color: #00bfff;
            &:hover {
                background-color: #00bfff96;
              }
          }
      }
    & .form label {
    position: relative;
    & .input {
        opacity: 1;
        z-index: 1;
        background-color: #333;
        color: #fff;
        width: 100%;
        padding: 20px 05px 05px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
        & + span {
            color: rgba(255, 255, 255, 0.5);
            position: absolute;
            left: 10px;
            top: 0px;
            font-size: 0.9em;
            cursor: text;
            transition: 0.3s ease;
            }
        &:placeholder-shown + span {
            top: 12.5px;
            font-size: 0.9em;
            }
        }
    }
    
    & .form label .input:focus + span,
    .form label .input:valid + span {
    color: #00bfff;
    top: 4px;
    font-size: 0.7em;
    font-weight: 600;
    }
      
}
