@use 'variables' as *;

.bx-home {
    h1 {
        font-size: 9rem;
        font-weight: 700;
        &:nth-child(1) {
            color: $p-color;
        }
        &:nth-child(2) {
            color: $p-color;
        }
        &:nth-child(3) {
            color: $s2-color;
        }
        &:nth-child(4) {
            color: $s2-color;
            font-size: 7rem;
        }
    }
    figure {
        width: 200px;
    }
}