@use './variables' as *;

.calculadora{
  width: 100%;
  height:80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  &__content{
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;

      & h1{
        font-size: 3rem;
        color: $s2-color;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
      }
    }

    &__calc{
      border: 2px solid black;
      width: 75%;
      height: 90%;
      border-radius: 20px;
      background-color: #4b87fd9f;
      box-shadow: 6px 6px black, 0px 0px 15px rgba(0, 0, 0, 0.705);
      padding: 15px;
      min-width: 330px;
      min-height: 400px;

      &__pantalla{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1rem;
        background-color: #fff3cf;
        border-radius: 20px;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.801);
        margin-bottom: 3rem;

        & input{
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
          font-size: 5rem;
          text-align: right;
          color: $s-color;
          font-family: $tipo-secundaria;
          outline: none;
          padding: 0px 5px;

          &.errorMessage{
            font-size: 3rem;
            color: red;
          }
          &.errorMessage2{
            color: red;
          }

          &::placeholder{
            color: $s-color;
          }
        }
      }

      &__botones{
        width: 100%;
        height: 75%;
        padding: 10px;
        background-color: #4b87fd9f;
        border-radius: 20px;

        &__c{
          width: 100%;
          height: 7%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-bottom: 1.5rem;
          padding: 0px 5px;

          & button{
            outline: none;
            width: 12%;
            height: 100%;
            border: none;
            border-radius: 10px;
            background-color: red;
            color: $w-color;
            font-size: 2rem;
            cursor: pointer;
            transition: all 0.3s;
            box-shadow: 3px 3px black, 0px 0px 10px rgba(0, 0, 0, 0.705);

            &.or2{
              margin-right: 1.5rem;
            }

            &:hover{
              background-color: rgb(161, 15, 15);
              box-shadow: 5px 5px black;
            }

            &:active{
              box-shadow: 1px 1px black;
            }
          }
        }

        &__num{
          width: 100%;
          height: 88%;
          gap: 20px 25px;
          margin-top: 1rem;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(4, 1fr);
          padding: 0px 5px;

          & button{
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: $s-color;
            color: $w-color;
            font-size: 3rem;
            cursor: pointer;
            transition: all 0.3s;
            box-shadow: 3px 3px black, 0px 0px 10px rgba(0, 0, 0, 0.705);

            &.oper{
              background-color: $s3-color;

              &:hover{
                background-color: #010a13;
              }
            }

            &.equal{
              background-color: $s2-color;

              &:hover{
                background-color: #005766;
              }
            }

            &:hover{
              background-color: #05215a;
              box-shadow: 5px 5px black;
            }

            &:active{
              box-shadow: 1px 1px black;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .calculadora{
    &__content{
      &__calc{
        width: 70%;

        &__pantalla{
          & input{
            font-size: 3.5rem;

            &.errorMessage{
              font-size: 1.8rem;
              color: red;
            }
          }
        }

        &__botones{
          &__c{
            & button{
              font-size: 1.5rem;
            }
          }

          &__num{
            & button{
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}