<section class="aplicativos">
  <div class="aplicativos__container">
    <div class="aplicativos__container__content">
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img1.png" alt="">
        </figure>
        <a href="https://cafesite5.atento.com.co:11009/cafe_Colmena/" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  Plataforma de formación continua</a>
      </div>
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img2.png" alt="">
        </figure>
        <a href="https://lineaefectiva.arp.fs.net/" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  TSPLUS</a>
      </div>
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img3.png" alt="">
        </figure>
        <a href="https://www.typingclub.com/" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  Typingclub</a>
      </div>
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img4.png" alt="">
        </figure>
        <a href="https://www.office.com/?auth=2" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  Office 365</a>
      </div>
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img5.png" alt="">
        </figure>
        <a href="http://172.16.183.76/endirecto/web/index.php/consultas/horario" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  En directo</a>
      </div>
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img6.png" alt="">
        </figure>
        <a href="http://172.16.183.76/ControlAsistencia/login.php" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  GAP</a>
      </div>
      <div class="aplicativos__container__content__card dato-buscado">
        <figure>
          <img src="../assets/img/AplicativosWeb/img7.png" alt="">
        </figure>
        <a href="http://intranet_atento/" target="_blank"> <i class="fa-solid fa-arrow-right"></i>  Intranet</a>
      </div>
    </div>
  </div>
</section>