<header class="header animate__animated animate__fadeInDown">
      <figure class="header__logobx">
          <img src="./config/assets/img/index/favicon.png" alt="logo">
      </figure>
      <nav class="header__nav">
          <ul class="secondMenu animate__animated">
              <li><a href="#">CheckList</a></li>
              <li>CheckList</li>
              <li>CheckList</li>
          </ul>
          <ul class="firstMenu">
              <li class="active"><a class="route" href="#/"><i class="fa-solid fa-house"></i>&nbsp;Inicio</a></li>
              <li><a class="route" href="#/mediciones"><i class="fa-solid fa-prescription-bottle"></i>&nbsp;Medicalización</a></li>
              <li><a class="route" href="#/infoymedios"><i class="fa-solid fa-file-lines"></i>&nbsp;Información y Medios</a></li>
              <li><a class="route" href="#/prevencion"><i class="fa-solid fa-id-card"></i>&nbsp;Prevención</a></li>
              <li><a class="route" href="#/seguros_vida"><i class="fa-solid fa-street-view"></i>&nbsp;Seguros de vida</a></li>
          </ul>
      </nav>
      <div class="header__versionbx">
          <p>V. 1.0.0</p>
      </div>
  </header>